$dark-blue: #2f4858;
$main-color: #3c81fa;
$withe: #fff;

@mixin padding($padding) {
  box-sizing: border-box;
  padding: $padding;
}

@mixin AlinksStyles {
  text-decoration: none;
}

@mixin FontStyle($color, $font-size) {
  font-size: $font-size;
  color: $color;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
