@import "../styles/global.scss";

.innerHeader_navigation_list_item {
  color: $dark-blue;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $main-color;
  }
}

.Active {
  color: $main-color;
}
