@import "../styles/global.scss";

.Service-card {
  width: 250px;
  height: 375px;

  user-select: none;

  background: #fff;

  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  position: relative;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.serviceCardCircle {
  height: 60%;
}

.Service-card-content {
  box-sizing: border-box;
  padding: 15px;
  padding-top: 0;

  text-align: center;

  height: 30%;
  width: 100%;

  line-height: 80% !important;

  h1,
  p {
    margin: 0;
    color: $dark-blue;
  }

  h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
  }
  p {
    font-size: 12px;
    text-overflow: ellipsis;
  }
}

.Service-card-explore {
  width: 100%;
  cursor: pointer;

  min-height: 50px;

  background: #000;

  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  span {
    font-size: 12px;
    text-transform: capitalize;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 20px;
    }
    &:hover i {
      transform: translateX(3px);
    }
  }
}
